 
.Logo
{ 
   height: 50px; 
   float: right;
  margin-top: -90px;
  margin-right: -5px;
 
}
.box
{
    width: 300px;
    height: 380px;
    background-color: #191919;  
    font-family: sans-serif;  
    margin-left: auto; 
    margin-right: auto;
     

}
.box > input[type="text"], .box >input[type="password"] 
{
    margin-top: 50px; 
    margin-right: 50px;
    margin-left: 35px;
    border: 0;
    outline: none;
    color: white;
    padding: 14px 10px;
    text-align: center;
    background: none;
    width: 200px;
    display: inline-block; 
    border: 2px solid #3498db;
    border-radius: 24px;
    transition: 0.25s;
    
}
.box > input[type="text"]:focus, .box >input[type="password"]:focus 
{
   width: 220px;
   border-color: #2ecc71;
}

.box > .button1
{
    margin-top: 20px; 
    margin-right: 50px;
    margin-left: 90px;
    border: 0;
    outline: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    background: none;
    display: inline-block; 
    border: 2px solid #2ecc71;
    cursor: pointer;
    border-radius: 24px;
    transition: 0.25s;
}
 
.box > .button2
{
    margin-top: 10px; 
    margin-right: 50px;
    margin-left: 80px;
    border: 0;
    outline: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    background: none;
    display: inline-block; 
    border: 2px solid #2ecc71;
    cursor: pointer;
    border-radius: 24px;
    transition: 0.25s;
}
.box > p
{
    font-size: 15px;
    color: #2ecc71;
    text-align: center;
}