nav{
       
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    transition: .3s;
    background: rgba(0,0,0,0.8);  
    
         
}
 
.logo{
    font-size: 30px;
    width: 125px; 
    height: 165px;
    overflow: hidden;
    float: left;
    transition: .3s;
    background-image: url('./img/logo.jpg');
    background-repeat: no-repeat;
    animation: App-logo-spin infinite 10s linear;
    
     
      
}
@keyframes App-logo-spin
{
    from{
        -moz-transform: rotateY(0deg); 
        -ms-transform: rotateY(0deg); 
        transform: rotateY(0deg); 
    }
    to
    {
        -moz-transform: rotateY(-360deg); 
        -ms-transform: rotateY(-360deg); 
        transform: rotateY(-360deg); 
    }
}
 
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    

}
nav ul li{
   list-style: none;
    
}
nav ul li a{
    line-height: 8px;
    color: #f0d8d8;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}
 