section > Modal
{
    transition: all 0.4s ease-in-out;
} 
.Logo
{ 
   height: 50px; 
   float: right;
  margin-top: -90px;
  margin-right: -5px;
 
}
.Rbox
{
    width: 300px;
    height: 500px;
    background-color: #191919;  
    font-family: sans-serif;  
    margin-left: auto; 
    margin-right: auto;
     

}
.Rbox > input[type="text"], .Rbox >input[type="password"], .Rbox >input[type="number"],.Rbox >input[type="email"]
{
    margin-top: 40px; 
    margin-right: 50px;
    margin-left: 35px;
    border: 0;
    outline: none;
    color: white;
    padding: 14px 10px;
    text-align: center;
    background: none;
    width: 200px;
    display: inline-block; 
    border: 2px solid #3498db;
    border-radius: 24px;
    transition: 0.25s;
    
}
.Rbox > input[type="text"]:focus, .Rbox >input[type="password"]:focus 
{
   width: 220px;
   border-color: #2ecc71;
}

.Rbox > .Rbutton1
{
    margin-top: 20px; 
    margin-right: 50px;
    margin-left: 85px;
    border: 0;
    outline: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    background: none;
    display: inline-block; 
    border: 2px solid #2ecc71;
    cursor: pointer;
    border-radius: 24px;
    transition: 0.25s;
}
.Rbox > input[type="radio"] 
{
    margin-left: 55px; 
    margin-top: 35px;

} 
 
.Rbox > h4
{
    font-size: 15px;
    font: 1em sans-serif;
    text-align: center;
}
h4
{
    color: #2ecc71;
}