.containerProfile{
    margin-top: 10px;
    margin-left:210px;
    border:2px solid #eee;
    box-shadow:0 4px 4px #ccc;
    height:95vh;
    border-radius: 30px;
    
     
}
.formdetails > .inputbox
{
    position: relative;
}
.inputbox > input 
{
    
    outline: none;
    border: none;
    padding: 5px 0;
    margin-top: 40px;
    margin-left:  140px;
    margin-right: 19px;
    font-size: 16px;
    border-bottom: 1px solid black;

    
}
.inputbox > label
{
    position: absolute;
    left: 140px;
    top: 50px;
    transition: 0.5s;
}
.inputbox input:focus ~label,
.inputbox input:valid ~label
{
    margin-top: -20px;
    color: #ab47bc;
    font-size: 13px;
     

}
.inputbox input:focus 
{
    border-bottom: 2px solid #ab47bc;
}
 
.formdetails > textarea[type="text"] 
{
    margin-top:25px;
}
select
{
    margin-top: 25px;
}
.headeru
{
    text-align: center;
    color: white;
    background-color: #ab47bc;
    height: 70px; 
    border-radius: 10px; 
    margin-top: -10px; 
    margin-left: 20px;
    margin-right: 20px; 
}
p{
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
     

}
h3{
    font-family:  sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: normal;
    align-content: center;

}
.formdetails
{
    margin-top: 25px;
    display: grid;
    grid-template-columns:  auto auto ;
    grid-column-gap: 50px;
}
.categorya
{
    margin-top: 50px;
}
.categorya > select 
{
    margin-left: 50px;
    width: 100px;
}
.categorya > label
{
    margin-left: 135px;
}
.desc
{
    margin-top: 5px;
    margin-left: 135px;
}
.desc > textarea
{
     margin-top: 5px; 
     width: 800px;
     height: 100px;
      
}
form > button
{
     margin-left: 500px;
     margin-top: 20px;
     padding: 10px;
     text-align: center;
     font-size: 16px;
     color: white;
     background-color: #ab47bc;
     display: inline-block;
     text-transform: uppercase;
     cursor: pointer;
     border-radius: 5px;
     border: none;        
}
.uploadaudio
{
    margin-left: 710px;
    margin-top: -30px;
}
.uploadaudio > input
{
     margin-left: 15px;
}
.uploadvideo
{
    margin-left: 710px;
    margin-top: 10px;
}
.uploadvideo > input
{
     margin-left: 15px;
}